<div class="row">
  <div class="col-lg-12">
    <nb-card  class="inline-form-card">
      <nb-card-header>Organization</nb-card-header>
      <nb-card-body>
        <form *ngIf="formState.currentState === 1" class="row" [formGroup]="orgForm" (ngSubmit)="createOrganization(orgForm.value)">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Code *" formControlName="org_Code"
                         [errorStateMatcher]="matcher">
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Description *" formControlName="org_Desc"
                         [errorStateMatcher]="matcher">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Name *" formControlName="org_Name"
                         [errorStateMatcher]="matcher">
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Remarks *" formControlName="org_Remarks"
                         [errorStateMatcher]="matcher">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field>
                  <mat-select (change)="getStates()" formControlName="org_Country" placeholder="Country *">
                    <mat-option *ngFor="let country of countries" [value]="country.ValueCode">
                      {{ country.ValueDesc }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field>
                  <mat-select formControlName="org_State" placeholder="State *">
                    <mat-option *ngFor='let state of states' [value]="state.ValueCode">
                      {{ state.ValueDesc }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Address *" formControlName="org_Address"
                         [errorStateMatcher]="matcher">
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="City *" formControlName="org_City"
                         [errorStateMatcher]="matcher">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input (keypress)="_keyPress($event)" matInput maxlength="10" placeholder="Phone *" formControlName="org_Phone"
                         [errorStateMatcher]="matcher">
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Website *" formControlName="org_Website"
                         [errorStateMatcher]="matcher">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Ext *" formControlName="org_Ext"
                         [errorStateMatcher]="matcher">
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="org_Add_Date" [min]="minDate" [max]="maxDate" [matDatepicker]="addDatePicker" placeholder="Add Date *">
                  <mat-datepicker-toggle matSuffix [for]="addDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #addDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="org_Close_Date" [min]="minDate" [max]="maxDate" [matDatepicker]="closeDatePicker" placeholder="Close Date">
                  <mat-datepicker-toggle matSuffix [for]="closeDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #closeDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div *ngIf="!isViewOrg && !isEditOrg" class="col-lg-2">
                <label class="col-form-label">Company Logo *</label>
              </div>
              <div *ngIf="!isViewOrg && !isEditOrg" class="col-lg-4">
                <!-- <input (change)="fileChange($event)" type="file" placeholder="please enter values" class="form-control full-width"/> -->
                <!-- <input (change)="fileChange($event)" class="ng-hide" id="input-file-id" type="file" />
                <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label> -->
                <div (click)="editProfileImage()" class="no-profile-image text-center clickable" (mouseover)="profileImageOver()" (mouseleave)="profileImageLeave()">
                    <i *ngIf="noImage" class="fa fa-camera pt-xl" style="color:white; padding-top: 30px; font-size:60px;" aria-hidden="true"></i>
                    <form id="profile-image-form" data-toggle="tooltip" title="Profile Image">
                        <input (change)="fileChange($event)" type="file" id="profile-image-input" class="clickable ml-lg" style="display:none; opacity: 0.0; position: absolute; top: 0; left: 0; bottom: 0; right: 0; height: 120px; width: 120px;" accept=".jpeg,.jpg,.png" />
                    </form>
                    <img *ngIf="!noImage" id="profile-img" class="profile-image" [src]="profileImageUrl">
                    <div [hidden]="!editImageOption" class="profile-image-edit-div" [ngClass]="{'profile-image-edit-noImage': noImage, 'profile-image-edit-image': !noImage}">
                        <div style="transform:translate(0px, 44px); display: inline-block; background-color:transparent; padding: 7px; border-radius: 25px;">
                            <i data-toggle="tooltip" title="Edit" style="color:white; font-size:20px;" class="fa fa-pencil" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center col-lg-12">
              <button [disabled]="(!orgForm.valid)" type="submit" class="btn btn-primary mb">Next</button>
          </div>
        </form>
        <div *ngIf="formState.currentState === 2" class="row mb-20">
          <div class="col-lg-12 mb-20">
            <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
            </ng2-smart-table>
          </div>
          <div class="col-lg-12 text-center">
              <button (click)="mapLibrary()" type="submit" class="btn btn-primary mb">Map Library</button>
          </div>
        </div>
        <div *ngIf="formState.currentState === 3" class="row mb-20">
          <div class="col-lg-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Entity Name</th>
                  <th>Prefix</th>
                  <th>Start Counter</th>
                  <th>Suffix</th>
                  <th>No of Digits</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let parameter of userParameters">
                  <td>{{parameter.entity_Name}}</td>
                  <td><input [(ngModel)]="parameter.id_Prefix" /></td>
                  <td><input maxlength="{{parameter.no_Of_Digits}}" [(ngModel)]="parameter.id_Counter" /></td>
                  <td><input [(ngModel)]="parameter.id_Suffix" /></td>
                  <td>{{parameter.no_Of_Digits}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-12 text-center">
              <button (click)="completeConfig()" type="submit" class="btn btn-primary mb">Finish</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>


